/*!
 CONTENTS
 
----------------------

1.Default CSS
2.Header
3.Section Background Styling

 */



/*========DEFAULT CSS============*/
body{
    background-color:aliceblue;
    color: whitesmoke;
}

.footer-custom{
    background-color:;
    
    
}

#title{
    color: black;
}

/*========HEADER============*/
header {
  padding: 156px 0 100px;
}



#Home
{
  background-image:url(banner.jpg);
    background-position: center;

      
}

hr.solid {
  border-top: 3px solid #bbb;
}



/*========SECTIONS STILYING============*/


section {
  padding: 150px 0;
}

.lower-section,
.upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(#2980b9, 0.5);

  
} 
.upper-section {
  min-height: 50vh;
  width: 100%;
  background: #9ECBC7;
}
.lower-section{
  min-height: 50vh;
  width: 100%;
  background:  #38686A;
}
.section-divider {
  position: relative;
}
.section-divider:before {
      font-family: 'codepen';
      content:"";
      width: 6.5rem;
      height: 6.5rem;
      background: #38686A;
      border-radius: 100%;
      position: absolute;
      top: -3.25rem;
      left: calc(50% - 3.25rem);
      color: rgba(#2980b9, 0.5);
      line-height: 6rem;
      text-indent: 1.75rem;
      font-size: 3rem;
    }


/*=====================================*/